@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SegoeUI/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUI/SegoeUIRegular.ttf") format("truetype"); }
