* {
  padding: 0;
  margin: 0; }

body {
  background-color: #EAEAEA; }

.continer {
  width: 100%;
  display: block; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 17%;
  min-width: 200px;
  height: 100%;
  background-color: #F6F6F6;
  border-left: 1px solid #999999;
  -webkit-box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5); }
  .menu .top {
    width: 100%;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #999999; }
  .menu ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .menu ul li {
      padding: 5px;
      padding-left: 20px;
      padding-right: 50px;
      font-size: 15px;
      color: #999999; }
      .menu ul li a {
        text-decoration: none;
        color: #999999;
        padding: 5px 20px;
        display: block;
        width: 170px; }
      .menu ul li a:hover {
        color: #fff;
        background-color: #C32056;
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
    .menu ul li:nth-child(1) a {
      background-image: url(../img/dashboard_gray.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 25px;
      padding: 10px;
      padding-left: 30px; }
    .menu ul li:nth-child(2) a {
      background-image: url(../img/account_gray.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 25px;
      padding: 10px;
      padding-left: 30px; }
    .menu ul li:nth-child(3) a {
      background-image: url(../img/map_gray.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 25px;
      padding: 10px;
      padding-left: 30px; }
    .menu ul li:nth-child(4) a {
      background-image: url(../img/notify_gray.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 25px;
      padding: 10px;
      padding-left: 30px; }
    .menu ul li:nth-child(5) a {
      background-image: url(../img/support_gray.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 25px;
      padding: 10px;
      padding-left: 30px; }
    .menu ul li:nth-child(1) a:hover {
      background-image: url(../img/dashboard_white.svg);
      background-repeat: no-repeat;
      background-size: 25px;
      padding-right: 25px;
      color: #fff;
      background-color: #C32056;
      padding: 10px;
      padding-left: 30px;
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

.main {
  top: 0;
  right: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80%;
  font-size: 23px;
  font-weight: bold;
  padding: 20px; }

.top-right {
  width: 100%;
  margin-left: 20px;
  margin-bottom: 20px; }

.box-site {
  width: 23.5%;
  height: 130px;
  position: relative;
  text-align: right;
  color: #000;
  background-color: #fff;
  border: 1px solid #999999;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

.img1 {
  background-color: #448B00;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

.fz13 {
  display: block;
  font-size: 13px;
  color: #999999;
  margin: 0;
  padding: 0; }

.fz10 {
  font-size: 10px;
  color: #999999;
  padding-left: 10px; }

hr {
  margin: 0;
  margin-top: 10px; }

.nesty1 {
  text-align: left; }

.img2 {
  background-color: #D89E24;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

.img3 {
  background-color: #274D97;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

.img4 {
  background-color: #C32056;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

.img1, .img2, .img3, .img4 {
  position: absolute;
  top: -15px;
  left: 5%;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px; }

.graphic, .graphic2, .graphic3 {
  position: absolute;
  top: -15px;
  left: 5%;
  width: 90%;
  height: 65%; }

.bottom-box, .bottom-box1 {
  position: absolute;
  top: -15px;
  left: 5%;
  width: 90%; }

.box-site1 {
  width: 32%;
  height: 270px;
  position: relative;
  text-align: left;
  color: #999999;
  background-color: #fff;
  border: 1px solid #999999;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); }

.graphic {
  background-color: #448B00;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
  .graphic img {
    width: 99%;
    height: 95%;
    padding: 10px; }

.text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 23px;
  font-weight: normal;
  padding: 10px; }

.graphic2 {
  background-color: #D89E24;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
  .graphic2 img {
    width: 99%;
    height: 95%;
    padding: 10px; }

.graphic3 {
  background-color: #274D97;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
  .graphic3 img {
    width: 99%;
    height: 95%;
    padding: 10px; }

.box-site2 {
  width: 48%;
  height: auto;
  position: relative;
  text-align: left;
  color: #999999;
  background-color: #fff;
  border: 1px solid #999999;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); }

.bottom-box {
  height: 55px;
  background-color: #D89E24;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
  .bottom-box .mini {
    width: 100%;
    list-style-type: none;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #fff; }
    .bottom-box .mini li {
      display: inline-block;
      padding: 5px;
      padding-left: 10px; }
      .bottom-box .mini li a {
        text-decoration: none;
        color: #fff; }
      .bottom-box .mini li img {
        margin-right: 7px; }
      .bottom-box .mini li a:hover {
        background-color: #DEAD49;
        padding: 7px 10px;
        width: 20%; }

.bottom-box1 {
  height: 70px;
  background-color: #274D97;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  padding: 15px; }
  .bottom-box1 .fonz13 {
    font-size: 13px;
    color: #fff; }

.grid .one, .grid .two, .grid .three, .grid .four, .grid .five, .grid .six, .grid .seven, .grid .eight, .grid .nine, .grid .ten, .grid .eleven, .grid .twelve, .grid .thirteen, .grid .forteen, .grid .fifteen, .grid .sixteen, .grid .seventeen, .grid .eighteen, .grid .nineteen, .grid .twenty {
  padding: 10px;
  padding-left: 15px; }

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15%, 35%, 25%, 25%;
  grid-template-columns: 15%, 35%, 25%, 25%;
  -ms-grid-rows: 40px auto;
  grid-template-rows: 40px auto;
  padding: 10px;
  margin-top: 45px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
  color: #999999;
  text-align: left; }
  .grid > div {
    border-bottom: 1px solid #999999; }
  .grid .one {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    color: #74B3B2; }
  .grid .two {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    color: #74B3B2; }
  .grid .three {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    color: #74B3B2; }
  .grid .four {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    color: #74B3B2; }
  .grid .five {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3; }
  .grid .six {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3; }
  .grid .seven {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3; }
  .grid .eight {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3; }
  .grid .nine {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4; }
  .grid .ten {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4; }
  .grid .eleven {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4; }
  .grid .twelve {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4; }
  .grid .thirteen {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5; }
  .grid .forteen {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5; }
  .grid .fifteen {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5; }
  .grid .sixteen {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5; }
  .grid .seventeen {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6; }
  .grid .eighteen {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6; }
  .grid .nineteen {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6; }
  .grid .twenty {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6; }

input {
  display: inline-block;
  margin: 10px;
  border-bottom: 1px solid #999999; }

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7%, 83%, 7%, 7%;
  grid-template-columns: 7%, 83%, 7%, 7%;
  -ms-grid-rows: 1fr auto;
  grid-template-rows: 1fr auto;
  margin-top: 10%;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px; }
  .form img {
    width: 70%; }
  .form > div {
    border-bottom: 1px solid #999999; }

.footer {
  bottom: 0;
  right: 0;
  position: absolute;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.check1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 5px;
  text-align: center; }

.check2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 5px; }

.check3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 5px;
  padding-top: 15px;
  text-align: center; }

.check4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 5px;
  padding-top: 15px;
  text-align: center; }

.check5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 5px;
  text-align: center; }

.check6 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 5px; }

.check7 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 5px;
  padding-top: 15px;
  text-align: center; }

.check8 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 5px;
  padding-top: 15px;
  text-align: center; }

.check9 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  padding: 5px;
  text-align: center; }

.check10 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  padding: 5px; }

.check11 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  padding: 5px;
  padding-top: 15px;
  text-align: center; }

.check12 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  padding: 5px;
  padding-top: 15px;
  text-align: center; }

.check13 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  padding: 5px;
  text-align: center; }

.check14 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  padding: 5px; }

.check15 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  padding: 5px;
  padding-top: 15px;
  text-align: center; }

.check16 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  padding: 5px;
  padding-top: 15px;
  text-align: center; }
