* 
	padding: 0
	margin: 0
body 
	background-color: #EAEAEA

$border1: 1px solid #999999
$shadow: 3px 3px 3px rgba(0, 0, 0, 0.5)

.container
	width: 100%
.menu
	position: fixed
	top: 0
	left: 0
	width: 200px
	height: 100%
	background-color: #F6F6F6
	border-left: $border1
	box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5)
	.top
		width: 100%
		font-size: 23px
		font-weight: bold
		text-align: center
		padding: 20px
		border-bottom: $border1
	ul
		list-style-type: none
		margin-top: 10px
		margin-left: 30px
		li 
			width: 150px
			padding: 10px
			font-size: 15px
			color: #999999
			a 
				text-decoration: none
				color: #999999
.main 
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	position: relative
	top: 0
	left: 20px
	font-size: 23px
	font-weight: bold
	padding: 20px
	
.top-right
	width: 100%
	margin-left: 20px
	margin-bottom: 20px
	
.box-site
	width: 23.5%
	height: 130px
	position: relative
	text-align: right
	color: #000
	background-color: #fff
	border: $border1 
	padding: 10px
	margin-top: 20px
	margin-bottom: 10px
	box-shadow: $shadow
.img1
	@extend %position1
	background-color: #448B00
.fz13
	display: block
	font-size: 13px
	color:#999999
	margin: 0
	padding: 0
.fz10
	font-size: 10px
	color:#999999
	padding-left: 10px
hr 
	margin: 0
	margin-top: 10px
.nesty1
	text-align: left
.img2
	@extend %position1
	background-color: #D89E24	
.img3
	@extend %position1
	background-color: #274D97
.img4
	@extend %position1
	background-color: #C32056

%position1
	position: absolute
	top: -15px
	left: 15px
	width: 60px
	height: 60px
	text-align: center
	padding-top: 10px
%position2
	position: absolute
	top: -15px
	left: 15px
	width: 90%
	height: 65%
.box-site1
	width: 32%
	height: 270px
	position: relative
	text-align: left
	color: #999999
	background-color: #fff
	border: $border1 
	padding: 10px
	margin-top: 40px
	margin-bottom: 10px
	box-shadow: $shadow
.graphic
	background-color: #448B00
	@extend %position2
	img 
		width: 99%
		padding: 10px
.text
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	font-size: 23px
	font-weight: normal
	padding: 10px
.graphic2
	background-color: #D89E24
	@extend %position2
	img 
		width: 99%
		padding: 10px
.graphic3
	background-color: #274D97
	@extend %position2
	img 
		width: 99%
		padding: 10px